@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: calc(595px - (64px * 2) + 32px);
  margin: 0 auto; /* horizontal centering */
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  padding-top: 40px;
  padding-bottom: 37px;
  background-color: #f5f5f5;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #152a41;
  margin-bottom: 5px;
}

.job {
  font-size: 14px;
  font-weight: 300;
  color: #606c82;
}

.main {
  font-size: 11px;
  padding-top: 57px;
  padding-bottom: 57px;
}

.section {
  display: flex;
  gap: 24px;
}

.section:not(:last-of-type) {
  margin-bottom: 39px;
}

.section__title {
  color: #152a41;
  font-weight: 700;
  flex: 0 0 39%;
}

.section__heading {
  font-weight: 700;
  line-height: 150%;
  color: #44526c;
}

.section__heading:not(:last-child) {
  margin-bottom: 5px;
}

.section__text {
  color: #44526c;
  font-weight: 400;
}

.list {
  list-style-position: inside;
}

.list--dash {
  list-style-type: "— ";
}

.list__item {
  color: #44526c;
  line-height: 150%;
}

.list__item:not(:last-child) {
  margin-bottom: 4px;
}

.link {
  color: #44526c;
  text-decoration: none;
}
