@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  font-family: "Inter", sans-serif;
}

body {
  background-color: gray;
}

.list {
  list-style: none;
}

.page {
  background-color: #ffffff;
  max-width: 37rem;
  min-height: 100vh;
  margin: auto;
  padding: 0 4rem;
  /* background-position: center; */
  /* position: fixed; */
}

/* .wrapper {
  max-width: 29rem;
  padding: 0 4rem;
  min-height: 100vh;
  margin: auto;
  position: fixed;
} */

.header {
  height: 123px;
  min-width: 100%;
  background-color: #f5f5f5;
}

h1 {
  font-weight: 700;
  color: #152a41;
}

h2 {
  font-weight: 300;
  color: #606c82;
}

h3 {
  font-weight: 700;
  color: #152a41;
}

h4 {
  font-weight: 700;
  color: #44526c;
}

p ul {
  font-weight: 400;
  color: #44526c;
}
